.owner .content-area {
    height: 800px;
    padding-top: 10%;
}

.owner .register-area {
    width: 800px;
    height: 500px;
}

.owner .register-area > * {
    display: block;
}

.owner .main-text {
    margin: 10% auto 5% auto;
    font-size: 32px;
    text-align: center;
}

.owner #owner_key_i {
    margin: 0 auto 5% auto;
    font-size: 32px;
}

.owner .link {
    position: relative;
    padding-right: 10px;
    top: 145px;
    text-align: right;
}

.owner > .register .register-area .btn-primary {
    margin: 0 auto 10px auto;
}

#checkModal .modal-body {
    text-align: center;
}

#checkModal #checkProButton {
    margin: 10px auto;
}
