@charset "UTF-8";
.info_list_top{
	border:1px;
	font-size: 20px;
}
	
#list_table{
	
	display: table; width: 100%;
}

.row{
	  display: table-row;
	}

.col1, .col2, .col3, .col4, .col5{
	 display: table-cell; padding: 3px; border-bottom: 1px solid;
}
	
.col1{
	width: 10%
	}
.col2{
	width: 40%
	}
.col3{
	width: 20%
	}
.col4{
	width: 20%
	}
.col5{
	width: 10%
	}

.row_content{
	display: table; width: 100%;
}

.list_buttom{
	text-align: right;
	}
		  