<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.odtn.reservation.dao.mapper.ReservationMapper">
	<select id="getCampList" parameterType="int"
		resultType="String">
		select nvl(fee_name, 'invalid') from camp_fare where camp_id = #{camp_id}
	</select>
	
	<resultMap id="soldMap" type="hashmap" />
	
	<select id="soldProcedureList" statementType="CALLABLE">
		{ 
			CALL ISSOLDOUT(
				#{camp_id},
				#{fee_name},
				#{start_date},
				#{end_date},
				#{people},
				#{resultMap, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=soldMap}
			)
		}
	</select>
	
	<insert id="insertReservation" parameterType="java.util.Map">
		INSERT INTO RESERVATION 
			VALUES(RESERVATION_NUM_SEQ.NEXTVAL,
				   #{user_number},
				   #{camp_id},
				   #{camp_site_type},
				   #{reservation_personnel},
				   sysdate,
				   #{start_date},
				   #{end_date},
				   #{amount},
				   #{user_name},
				   #{phone}
			)
	</insert>
	
	<select id="getMemberDto" parameterType="int" resultType="com.odtn.member.dto.MemberDto">
		SELECT * FROM MEMBER WHERE USER_NUM = #{value}
	</select>
	
	<select id="getReservationList" parameterType="int" resultType="com.odtn.reservation.dto.ReservationDto">
		select * from reservation where user_number = #{user_num}
	</select>
	
	<delete id="deleteReservation" parameterType="java.util.Map">
		delete from reservation where
		user_number = #{user_num} AND
		<foreach collection="deleteSplit" separator="or" index="index" item="item">
			 reservation_id = #{item}
		</foreach>
	</delete>
</mapper>