<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.odtn.search.dao.mapper.SearchMapper">
	<select id="GetSearchList" parameterType="java.util.Map" resultType="com.odtn.search.dto.SearchDto">
		
		select * from (select rownum ro, a.* from (select * from searchList
		
		<!-- 기본검색 -->
		<where>
			<if test="city != null">
				regexp_like(address, #{city})
			</if>
			
			<if test="thema != null">
				AND regexp_like(location_type, #{thema})
			</if>
			
			<if test="keyword != null">
				AND regexp_like(camp_name, #{keyword})
			</if>
		</where>
		
		<!-- 태그검색 -->
		<where>
			<if test="tag != null">
				<foreach item="item" index="index" collection="tag" separator="AND">
					regexp_like(tag,#{item})
				</foreach>
			</if>
		</where>
		
		<!-- 상세검색 -->
		<where>
			<if test="detailSearchCity != null">
				regexp_like(address,#{detailSearchCity})
			</if>
			
			<if test="detailSearchOperationType != null">
				<foreach item="item" index="index" collection="detailSearchOperationType" open="AND" separator="AND">
					regexp_like(Operation_Type,#{item})
				</foreach>
			</if>
			
			<if test="detailSearchLocationType != null">
				<foreach item="item" index="index" collection="detailSearchLocationType" open="AND" separator="AND">
					regexp_like(Location_type,#{item})
				</foreach>
			</if>
			
			<if test="detailSearchCampType != null">
				<foreach item="item" index="index" collection="detailSearchCampType" open="AND" separator="AND">
					regexp_like(Camp_Type,#{item})
				</foreach>
			</if>
			
			<if test="detailSearchBottomType != null">
				<foreach item="item" index="index" collection="detailSearchBottomType" open="AND" separator="AND">
					regexp_like(bottom_Type,#{item})
				</foreach>
			</if>
			
			<if test="detailSearchMainFacities != null">
				<foreach item="item" index="index" collection="detailSearchMainFacities" open="AND" separator="AND">
					regexp_like(Main_Facilities,#{item})
				</foreach>
			</if>
		</where>
		
		<choose>
			<when test="filter.equals('readCount')">
				order by read_count desc
			</when>
			<when test="filter.equals('reCommand')">
				order by recommand_count desc
			</when>
			<when test="filter.equals('reviewCount')">
				order by review_count desc
			</when>
			<otherwise>
				order by camp_id desc
			</otherwise>
		</choose>
		) a ) b
		<![CDATA[ where ro >= #{startRow} and ro <= #{endRow} ]]>
	</select>
	
	<select id="GetCount" parameterType="java.util.Map" resultType="int">
		select count(*) from camp_data
		<where>
			<if test="city != null">
				regexp_like(address, #{city})
			</if>
			
			<if test="thema != null">
				AND regexp_like(location_type, #{thema})
			</if>
			
			<if test="keyword != null">
				AND regexp_like(camp_name, #{keyword})
			</if>
		</where>
		
		<where>
			<if test="tag != null">
				<foreach item="item" index="index" collection="tag" separator="AND">
					regexp_like(tag,#{item})
				</foreach>
			</if>
		</where>
		
		<where>
			<if test="detailSearchCity != null">
				regexp_like(address,#{detailSearchCity})
			</if>
			
			<if test="detailSearchOperationType != null">
				<foreach item="item" index="index" collection="detailSearchOperationType" open="AND" separator="AND">
					regexp_like(Operation_Type,#{item})
				</foreach>
			</if>
			
			<if test="detailSearchLocationType != null">
				<foreach item="item" index="index" collection="detailSearchLocationType" open="AND" separator="AND">
					regexp_like(Location_type,#{item})
				</foreach>
			</if>
			
			<if test="detailSearchCampType != null">
				<foreach item="item" index="index" collection="detailSearchCampType" open="AND" separator="AND">
					regexp_like(Camp_Type,#{item})
				</foreach>
			</if>
			
			<if test="detailSearchBottomType != null">
				<foreach item="item" index="index" collection="detailSearchBottomType" open="AND" separator="AND">
					regexp_like(bottom_Type,#{item})
				</foreach>
			</if>
			
			<if test="detailSearchMainFacities != null">
				<foreach item="item" index="index" collection="detailSearchMainFacities" open="AND" separator="AND">
					regexp_like(Main_Facilities,#{item})
				</foreach>
			</if>
		</where>
	</select>
	
	<!-- KimJinsu 2019/12/18 select -->
	<select id="getCamp" parameterType="int" resultType="com.odtn.search.dto.SearchDto">
		SELECT * FROM searchList WHERE camp_id = #{camp_id}
	</select>
	
	<!-- KimJinsu 2019/12/19 update -->
	<update id="updateReadCount" parameterType="int">
		UPDATE CAMP_DATA SET read_count = read_count + 1 WHERE camp_id = #{camp_id} 
	</update>
	
	<!-- KimJinsu 2019/12/19 select -->
	<select id="getPayment" parameterType="int" resultType="com.odtn.search.dto.SearchPaymentDto">
		SELECT * FROM CAMP_FARE WHERE camp_id = #{camp_id}
	</select>
	
	<!-- ParkSungSoo 2019/12/29 select -->
	<select id="getSearchComplete" parameterType="String" resultType="String">
		<![CDATA[SELECT CAMP_NAME FROM CAMP_DATA WHERE regexp_like(CAMP_NAME,#{value}) AND ROWNUM <= 10]]>
	</select>
	
	<select id="getCampRecommand" parameterType="java.util.Map" resultType="Integer">
		SELECT COUNT(*) FROM CAMP_RECOMMAND WHERE CAMP_ID = #{campId} AND USER_NUM = #{id}
	</select>
	
	<insert id="insertCampRecommand" parameterType="java.util.Map">
		INSERT INTO CAMP_RECOMMAND (USER_NUM, CAMP_ID) VALUES (#{id}, #{campId})
	</insert>
	
	<select id="getCampChoice" parameterType="java.util.Map" resultType="Integer">
		SELECT COUNT(*) FROM CHOICE WHERE CAMP_ID = #{campId} AND USER_NUM = #{id}
	</select>
	
	<insert id="insertCampChoice" parameterType="java.util.Map">
		INSERT INTO CHOICE (CHOICE_ID, USER_NUM, CAMP_ID) VALUES (CHOICE_NUM_SEQ.NEXTVAL ,#{id}, #{campId})
	</insert>
</mapper>