@charset "UTF-8";

/* 검색박스 */
.top_search_box {
	height: 260px;
	background: #f8f8f8;
	position: relative;
}

input {
	padding: 0 8px;
	border: 1px solid #e5e5e5;
	background: #f9f9f9;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	vertical-align: middle;
}

.top_search_box .tag_link_btn {
	position: absolute;
	width: 345px;
	height: 47px;
	background: cornflowerblue;
	color: #fff;
	text-align: center;
	font-size: 15px;
	right: 0;
	top: 0;
	border-radius: 3px;
	box-sizing: border-box;
	margin-right: 15px;
	margin-top: 10px;
}

.tag_link_btn span {
	display: inline-block;
	padding-left: 23px;
	margin-left: -23px;
}

.top_search_box .form_tt {
	position: relative;
	width: 52%;
	height: 100%;
}

/*검색*/
.top_search_box h2.tt {
	display: block;
	width: 410px;
	margin: 10px 40px;
	padding: 5px 0 5px 20px;
	color: #010101;
	font-size: 17px;
	border-bottom: 1px solid #d0d0d0;
}

.top_search_box .form_tt .form_openTT {
	display: none;
}

img,
fieldset {
	border: none;
}

.top_search_box .form_w {
	margin: 20px 40px 0 40px;
	overflow: hidden;
}

ul,
ol,
li,
dl,
dt,
dd {
	list-style: none;
}

div.select_box {
	position: relative;
	width: 160px;
	height: 31px;
	line-height: 31px;
	border: 0;
	margin: 10px 0;
}

div.select_box label {
	display: none;
	position: absolute;
	font-size: 14px;
	color: #444444;
	top: 0px;
	left: 12px;
	letter-spacing: 1px;
}

div.select_box select.detail_select {
	width: 100%;
	height: 31px;
	min-height: 31px;
	line-height: 31px;
	padding: 0 10px;
}
div.select_box label {
	display: none;
	position: absolute;
	font-size: 14px;
	color: #444444;
	top: 0px;
	left: 12px;
	letter-spacing: 1px;
}

div.select_box select.detail_select {
	width: 100%;
	height: 31px;
	min-height: 31px;
	line-height: 31px;
	padding: 0 10px;
}

.top_search_box .form_w > ul > li {
	margin-right: 10px;
	float: left;
	margin-top: 20px;
	padding-left: 0;
	margin-left: 0;
}

div.select_box.them {
	position: relative;
	width: 245px;
	height: 31px;
	line-height: 31px;
	border: 0;
	margin-top: 10px;
}

div.select_box label {
	display: none;
	position: absolute;
	font-size: 14px;
	color: #444444;
	top: 0px;
	left: 12px;
	letter-spacing: 1px;
}

div.select_box select.detail_select {
	width: 100%;
	height: 31px;
	min-height: 31px;
	line-height: 31px;
	padding: 0 10px;
}

.top_search_box .form_w ul:nth-child(2) {
	clear: both;
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.top_search_box .form_w ul:nth-child(2) > li.tt {
	margin-bottom: 10px;
	width: 50%;
}

.top_search_box .form_w ul .tt {
	margin-left: 0;
	margin-top: 0;
}

.top_search_box .form_w ul .tt strong.title {
	left: 0;
	color: #252525;
	font-size: 14px;
	display: block;
	width: 100%;
	height: 20px;
}

.top_search_box .form_w ul .tt .input_search,
.top_search_box .form_w ul .tt .m_search_in {
	width: 100%;
	box-sizing: border-box;
}

#sub_title_wrap2 {
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 50px;
	clear: both;
}

.location_w2 {
	width: 100%;
	height: auto;
	min-height: 68px;
}

.location_inner2 {
	width: 100%;
	height: 68px;
	z-index: 1;
}

.location_inner2 .all_home {
	position: absolute;
	left: 0;
	width: 68px;
	height: 68px;
	float: left;
}

.location_inner2 .depth1 {
	width: 30%;
	padding-left: 68px;
	box-sizing: border-box;
	float: left;
}

.location_inner2 .step {
	display: inline-block;
	width: 95%;
	padding-left: 5%;
	height: 68px;
	line-height: 68px;
	border-right: 1px solid #525252;
	font-size: 16px;
	color: #e1e1e1;
	cursor: pointer;
}

.location_inner2 .mngroup {
	position: relative;
}

.location_inner2 .mngroup > ul {
	position: absolute;
	z-index: 10;
	left: 0;
	display: inline-block;
	width: 100%;
	top: 68px;
}

.location_inner2 .depth1 .menuUl .menuLi {
	box-sizing: border-box;
	margin-left: 68px;
	width: auto;
	position: relative;
	height: 55px;
	border-bottom: 1px solid #cdd5de;
	z-index: 2;
	background-color: white;
	cursor: pointer;
}

.location_inner2 .menuUl .menuLi > a {
	display: block;
	color: #000;
	position: relative;
	padding-left: 20px;
	line-height: 60px;
	font-size: 16px;
}

.location_inner2 .depth1 .menuUl .menuLi {
	box-sizing: border-box;
	margin-left: 68px;
	width: auto;
	position: relative;
	height: 55px;
	border-bottom: 1px solid #cdd5de;
	z-index: 2;
	background-color: white;
	cursor: pointer;
}

.location_inner2 .depth1 .menuUl .menuLi {
	box-sizing: border-box;
	margin-left: 68px;
	width: auto;
	position: relative;
	height: 55px;
	border-bottom: 1px solid #cdd5de;
	z-index: 2;
	background-color: white;
	cursor: pointer;
}

.location_inner2 .depth2 {
	width: 30%;
	box-sizing: border-box;
	float: left;
}

.location_inner2 .menuUl .menuLi {
	width: 100%;
	position: relative;
	height: 55px;
	border-bottom: 1px solid #cdd5de;
	z-index: 2;
	background-color: white;
	cursor: pointer;
}

.top_search_box .form_w ul li.fw_2li {
	padding-right: 0;
	margin-right: 0 !important;
}

.top_search_box .input_search .m_search_in {
	background: #fff;
	height: 34px;
	line-height: 34px;
	padding: 0 20px;
	font-size: 14px;
	color: #a9a9a9;
	width: 460px;
	border: 1px solid #dcdcdc;
}

.top_search_box .input_search {
	height: 34px;
	line-height: 34px;
	padding: 0;
	margin-top: 8px;
	width: 500px;
}

.button_w {
	margin-top: 10px;
	float: left;
	width: 264px;
}

.button_w button.de_btn01 {
	border: 1px solid #000;
	height: 34px;
	text-align: left;
	padding: 0 16px;
	width: 102px;
	margin-right: 10px;
}

/*캠핑장 검색*/
.button_w button.de_btn02 {
	height: 34px;
	text-align: left;
	padding: 0 16px;
	width: 150px;
	background-color: #000;
	text-align: center;
	color: #fff;
}

.button_w button.de_btn03 {
	display: none;
}

.button_w button {
	display: inline-block;
	height: 38px;
}

.top_search_box .form_w ul li.fw_2li .button_w {
	width: auto !important;
}

/*태그검색*/
.tag_title {
	overflow: hidden;
	width: 100%;
	z-index: 3;
	text-align: left;
	color: #fff;
	top: 75px;
	text-shadow: 2px 2px 3px rgb(0, 0, 0);
	background: url('/img/2018/sub/line50p.png') repeat-x 0 bottom;
	padding-bottom: 20px;
}
.tag_title .camp_name {
	float: left !important;
	padding-top: 3px;
	font-size: 35px;
	font-family: BM_dh;
	line-height: 40px;
	color: #fff;
}
.tag_title .tag_stt {
	display: inline-block;
	line-height: 20px !important;
	padding-left: 20px;
	text-align: left;
}

.tagBtn_group {
	position: relative;
	width: 65%;
	float: left;
	height: auto;
	overflow: hidden;
	margin-top: 30px;
}
.tagBtn_group ul li {
	float: left;
	margin: 0 1% 8px 0;
}
.tagBtn_group ul li > a {
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	border: 1px solid #cbc2c5;
	color: #efefef;
}
.tagBtn_group ul li > a.ov {
	border: 1px solid #566da8 !important;
}

.tagSearch_btn_wrap {
	width: 31%;
	height: auto;
	overflow: hidden;
	float: right;
	text-align: right;
	margin: 17px 0 0 0;
}
.tagSearch_btn_wrap a {
	box-sizing: border-box;
	display: inline-block;
	height: 46px;
	line-height: 46px;
	border-radius: 3px;
	margin-bottom: 6px;
	font-size: 15px;
}
.tagSearch_btn_wrap a.btn_reset {
	color: #464646;
	background: #e9e9e9;
	width: 49%;
	margin-right: 1%;
	text-align: center;
	float: left;
}
.tagSearch_btn_wrap a.btn_detail {
	color: #fff;
	background: #333;
	width: 49%;
	text-align: center;
}
.tagSearch_btn_wrap a.btn_search {
	color: #fff;
	background: #416dc2;
	width: 100%;
	text-align: center;
}

.tagSearch_btn_wrap a.btn_reset:hover {
	background: #fff;
	text-decoration: none;
	border: 2px solid #416dc2;
}
.tagSearch_btn_wrap a.btn_detail:hover {
	background: #fff;
	text-decoration: none;
	border: 2px solid #416dc2;
	color: #333;
}
.tagSearch_btn_wrap a.btn_search:hover {
	color: #333 !important;
	background: #fff;
	text-decoration: none;
	border: 2px solid #416dc2;
}

/*통합검색*/
.total_search_w {
	background: #fff;
	padding: 20px 30px 40px 30px;
	display: block;
	margin: 0 0 40px 0;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.total_search_w .myp02 {
	height: auto;
	overflow: hidden;
	text-align: center;
}
.total_search_w .myp02 .sc_camp {
	display: inline-block;
	padding: 0 10px;
	width: 500px;
	background: #fff;
	border: 1px solid #d1d1d1;
	font-size: 16px;
	text-align: left;
}

.total_search_w .myp02 .sc_camp button {
	width: 24px;
	height: 24px;
	background: url('/img/2018/sub/mypage/ico_search.png') no-repeat right
		center;
}
.total_search_w .myp02 .sc_tt {
	display: inline-block;
	width: 100px;
	text-align: left;
	font-size: 19px;
	color: #000;
	font-weight: normal;
	vertical-align: middle;
}
.total_search_w .camp_search {
	width: 89%;
	background: #fff;
	font-size: 16px;
	line-height: 24px;
	padding: 11px 10px;
	background: none;
	border: none;
}

.p_word {
	margin-top: 20px;
	color: #000;
}
.p_word .tt {
	padding: 5px 10px;
	border-radius: 100px;
	background: #416dc2;
	color: #fff;
	display: inline-block;
	font-size: 14px !important;
	margin-right: 10px;
}
.p_word span:last-child {
	display: none;
}
.b_top {
	position: absolute;
	border-top: 2px solid #000;
	top: -32px;
	width: 100%;
}

.search_list01 {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 50px;
	margin-bottom: 60px;
}
.search_list02 {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 50px;
	margin-bottom: 60px;
}
.search_list03 {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 50px;
	margin-bottom: 60px;
}
.tt_search_box {
	margin-top: 20px;
	width: 92%;
	background: #f6f8f9 url('/img/2018/sub/pt_bd01.png') repeat-x;
	border-top: 1px solid #e3e5e5;
	padding: 20px 4%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.tt_search_box ul.cr_list > li {
	clear: both;
	height: auto;
	overflow: hidden;
	padding: 30px 0;
	border-bottom: 1px solid #dedede;
}
.tt_search_box ul.cr_list > li:last-child {
	border-bottom: none !important;
}
.tt_search_box .thum_img {
	width: 250px;
	height: 150px;
	object-fit: cover;
	float: left;
	display: inline-block;
	position: absolute;
}
.tt_search_box .cr_cont_w {
	min-height: 150px;
	padding-left: 280px;
}
.tt_search_box .cr_cont_w dt {
	font-size: 18px;
	color: #2c4f98;
	display: block;
	padding: 0 0 20px 0;
}
.tt_search_box .cr_cont_w dt strong {
	color: #416dc2;
}
.tt_search_box .cr_cont_w .cr_cont {
	color: #3e3e3e;
	font-size: 15px;
	word-wrap: break-word;
	line-height: 28px;
	height: 56px;
	overflow: hidden;
}
.tt_search_box .cr_cont_w .cr_addr {
	font-size: 13px;
	margin-top: 15px;
}
.tt_search_box .cr_cont_w .cr_addr span {
	padding: 5px 10px;
	background: #416dc2;
	color: #fff;
	text-align: center;
	margin-right: 5px;
}

/*상세검색_옵션선택레이어*/
#sub_title_wrap2 .detail_search_w {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 40px 0;
}
#sub_title_wrap2 .detail_search_w > ul {
	background: none;
}
#sub_title_wrap2 .detail_search_w > ul > li {
	height: auto;
	overflow: hidden;
	padding: 15px 30px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}
#sub_title_wrap2 .detail_search_w ul li strong {
	width: 10%;
	color: #000;
	font-size: 15px;
	font-weight: normal;
	float: left;
	padding: 10px 0;
	line-height: 20px;
}
#sub_title_wrap2 .detail_search_w ul li strong > span {
	font-size: 12px;
	color: #909090;
	display: block;
	line-height: 20px;
}
#sub_title_wrap2 .detail_search_w ul li .check_w {
	width: 89%;
	float: right;
	padding: 5px 0;
}
#sub_title_wrap2 .detail_search_w ul li .check_w ul li {
	float: left;
	padding-right: 30px;
}
#sub_title_wrap2 .detail_search_w ul li .check_w .check01 {
	font-size: 16px;
	margin-right: 5px;
}

.detail_btn_w button {
	width: 30%;
	line-height: 40px;
	height: 40px;
	margin: 1%;
	float: left;
}
