<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="boardComment.mapper.ReviewCommentMapper">
   <!--댓글작성-->

   	<insert id="insert" parameterType="com.odtn.boardComment.dto.ReviewCommentDto">
		INSERT INTO REVIEW_COMMENT(COMMENT_NUM,
							 REVIEW_NUM,
							 USER_NUM,
							 COMMENT_CONTENT,
							 WRITE_DATE) 
							 values(review_comment_comment_num_seq.nextval,
							 #{review_num},
							 #{user_num},
							 #{comment_content},
							 #{write_date})
	</insert>

	<!--댓글리스트 개수세기-->
	<select id="listCount" parameterType="com.odtn.boardComment.dto.ReviewCommentDto" resultType="int">
		SELECT COUNT(*)FROM REVIEW_COMMENT
	</select>
	
	<!--리스트 구하기 -->
	<select id="getCommentList" resultType="com.odtn.boardComment.dto.ReviewCommentDto">
		  SELECT * FROM REVIEW_COMMENT where review_num=#{review_num} ORDER BY COMMENT_NUM DESC
	</select>
	
	<!--사용자이름구하기-->
	<select id="getUserName" resultType="String">
		SELECT USER_NAME FROM MEMBER WHERE USER_NUM=#{user_num}
	</select>
	
	<select id="getEmail" resultType="String">
		SELECT EMAIL FROM MEMBER WHERE USER_NUM=#{user_num}
	</select>
	
	<select id="getNickName" resultType="String">
		SELECT NICKNAME FROM MEMBER WHERE USER_NUM=#{user_num}
	</select>
   </mapper>