<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="boardComment.mapper.ReviewCommentMapper">
   <!--댓글작성-->

   	<insert id="insert" parameterType="com.odtn.boardComment.dto.ReviewCommentDto">
		INSERT INTO REVIEW_COMMENT(COMMENT_NUM,
							 REVIEW_NUM,
							 USER_NUM,
							 COMMENT_CONTENT,
							 WRITE_DATE) 
							 values(review_comment_comment_num_seq.nextval,
							 #{review_num},
							 #{user_num},
							 #{comment_content},
							 #{write_date})
	</insert>

   </mapper>