<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.SearchMapMapper">

		<select id="searchMapCount" resultType="int">
		select count(*) from camp_data
		</select>
	
		<select id="selectPage" parameterType="java.util.Map" resultType="com.odtn.parse.searchmap.dto.SearchMapDto">
		<![CDATA[
		select * from (select rownum rnum,a.*from 
		(select * from camp_data  addres )a)
		 where rnum >= #{startRow} and rnum <= #{endRow}
     	]]>
		</select> 
		
</mapper>


