@charset "UTF-8";

* {margin:0px;padding:0px;}

html, body, div, span, ul, li, ol, img, fieldset, legend, form, input, select, textarea, object, a, table, th, td, dl, dt, dd, h1, h2, h3, h4, h5, h6, canvas, video, audio, details, figure, figcaption, header, footer, menu, nav, section, summary {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    line-height: 28px;
    font-family: "NanumG", "나눔고딕", Dotum, "돋움", Helvetica, AppleGothic, Sans-serif, "Tahoma", "MS PGothic";
    color: #626262;
    letter-spacing: -1px;
    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


table {
    border-collapse: collapse;
}

* {
    font-family: 'ABeeZee' !important;
}


*, *::before, *::after {
    box-sizing: border-box;
}

div {
    display: block;
}

legend {
    font-size: 0;
    height: 0;
    width: 0;
    line-height: 0;
}

a {
    text-decoration: none;
}

button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

caption {
    overflow: hidden;
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 1px;
    height: 1px;
    text-indent: -10000px;
    z-index: -999;
    font-size: 1px;
    padding: 0;
    margin: 0;
}

select {
    width: auto;
    padding: 0 3.5em 0 .5em;
    font-family: inherit;
    /* background: #fff url(https://www.gocamping.or.kr/img/2018/layout/arr2.png) no-repeat 92% 50%; */
    border: 1px solid #c7c7c7;
    border-radius: 0px;
    appearance: none;
    font-size: 14px;
}

#wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 0;
}

.calen {
    width: 325px;
    height: 260px;
    background: #fff;
    float: left;
    position: relative;
    margin: 33px 0 0 0;
}

.calen .month_area {
    width: 100%;
    height: 48px;
    background: #4476d5;
    text-align: center;
}

.clearfix:after, .layout:after, .layout2:after, .imgBox:after {
    display: block;
    visibility: hidden;
    clear: both;
    content: ".";
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.calen .month_area button.m_prev {
    width: 24px;
    height: 24px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/ico_btn_prenext.png) 0 0;
    position: absolute;
    left: 20px;
    top: 13px;
}

#s_contanier {
    position: relative;
    width: 100%;
    height: auto;
}

.calen .month_area span {
    font-size: 17px;
    color: #fff;
    font-weight: normal;
    line-height: 48px;
}

button {
    text-transform: none;
    vertical-align: middle;
}

button {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: transparent;
    letter-spacing: -1px;
    cursor: pointer;
    font-family: "Malgun Gothic", "맑은 고딕", Dotum, "돋움", Helvetica, AppleGothic, Sans-serif, "Tahoma", "MS PGothic";
}

.calen .month_area button.m_next {
    width: 24px;
    height: 24px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/ico_btn_prenext.png) -24px 0;
    position: absolute;
    right: 20px;
    top: 13px;
}

button, [type="button"], [type="reset"], [type="submit"] {
    cursor: pointer;
}

.month_tb {
    width: 90%;
    margin: 0 auto;
}

.month_tb thead tr th.sun {
    color: #d5495d;
}

.month_tb thead tr th {
    text-align: center;
    padding: 15px 0 5px 0;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
}

.month_tb thead tr th.sat {
    color: #1769c5;
}

.month_tb tbody tr td:first-child {
    color: #d5495d;
}

.month_tb tbody tr td:last-child {
    color: #1769c5;
}

.month_tb tbody tr:first-child td {
    padding-top: 10px;
}

.month_tb tbody tr td {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
}

.month_tb tbody tr td.today {
    /* background: url(https://www.gocamping.or.kr/img/2018/sub/date_on.png) no-repeat center center; */
}

/* 검색박스 */
.top_search_box {
    width: 856px;
    height: 260px;
    background: #f8f8f8;
    float: right;
    position: relative;
    margin: 33px 0 0 0;
}

input {
    padding: 0 8px;
    border: 1px solid #e5e5e5;
    background: #f9f9f9;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    vertical-align: middle;
}

.top_search_box .tag_link_btn {
    position: absolute;
    width: 345px;
    height: 47px;
    background: #c83d67;
    color: #fff;
    text-align: center;
    font-size: 15px;
    right: 0;
    top: 0;
}

.tag_link_btn span {
    display: inline-block;
    background: url(https://www.gocamping.or.kr/img/2018/sub/icon_tag.png) no-repeat left center;
    padding-left: 23px;
    margin-left: -23px;
}

.top_search_box .form_tt {
    position: relative;
    width: 52%;
    height: 100%;
}

.top_search_box h2.tt {
    display: block;
    width: 410px;
    margin: 10px 40px;
    padding: 5px 0 5px 20px;
    color: #000;
    font-size: 17px;
    border-bottom: 1px solid #d0d0d0;
    background: url(https://www.gocamping.or.kr/img/2018/sub/bullet_p.png) no-repeat left 13px;
}

.top_search_box .form_tt .form_openTT {
    display: none;
}

img, fieldset {
    border: none;
}

.top_search_box .form_w {
    margin: 20px 40px 0 40px;
    overflow: hidden;
}

ul, ol, li, dl, dt, dd {
    list-style: none;
}

div.select_box {
    position: relative;
    width: 160px;
    height: 31px;
    line-height: 31px;
    background: url(https://www.gocamping.or.kr/img/2018/layout/arr2.png) no-repeat right 10px center;
    border: 0;
    margin: 10px 0;
}

div.select_box label {
    display: none;
    position: absolute;
    font-size: 14px;
    color: #444444;
    top: 0px;
    left: 12px;
    letter-spacing: 1px;
}

div.select_box select.detail_select {
    width: 100%;
    height: 31px;
    min-height: 31px;
    line-height: 31px;
    padding: 0 10px;
}
div.select_box label {
    display: none;
    position: absolute;
    font-size: 14px;
    color: #444444;
    top: 0px;
    left: 12px;
    letter-spacing: 1px;
}

div.select_box select.detail_select {
    width: 100%;
    height: 31px;
    min-height: 31px;
    line-height: 31px;
    padding: 0 10px;
}

.top_search_box .form_w > ul > li {
    margin-right: 10px;
    float: left;
    margin-top: 20px;
    padding-left: 0;
    margin-left: 0;
}

div.select_box.them {
    position: relative;
    width: 245px;
    height: 31px;
    line-height: 31px;
    background: url(https://www.gocamping.or.kr/img/2018/layout/arr2.png) no-repeat right 10px center;
    border: 0;
    margin-top: 10px;
}

div.select_box label {
    display: none;
    position: absolute;
    font-size: 14px;
    color: #444444;
    top: 0px;
    left: 12px;
    letter-spacing: 1px;
}

div.select_box select.detail_select {
    width: 100%;
    height: 31px;
    min-height: 31px;
    line-height: 31px;
    padding: 0 10px;
}

.top_search_box .form_w ul:nth-child(2) {
    clear: both;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.top_search_box .form_w ul:nth-child(2) > li.tt {
    margin-bottom: 10px;
    width: 50%;
}

.top_search_box .form_w ul .tt {
    margin-left: 0;
    margin-top: 0;
}



.top_search_box .form_w ul .tt strong.title {
    left: 0;
    color: #252525;
    font-size: 14px;
    display: block;
    width: 100%;
    height: 20px;
}

.top_search_box .form_w ul .tt .input_search, .top_search_box .form_w ul .tt .m_search_in {
    width: 100%;
    box-sizing: border-box;
}

#sub_title_wrap2 {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    clear: both;
}

.location_w2 {
    width: 100%;
    height: auto;
    min-height: 68px;
    /* background-color: black; */
    background: url(https://www.gocamping.or.kr/img/2018/layout/bg000_60.png) repeat;
}

.location_inner2 {
    width: 100%;
    height: 68px;
    z-index: 1;
}

.layout {
    display: block;
    position: relative;
    width: 97%;
    margin: 0 auto;
}

.location_inner2 .all_home {
    position: absolute;
    left: 0;
    width: 68px;
    height: 68px;
    background: #e55450 url(https://www.gocamping.or.kr/img/2018/layout/m_icon_all.png) no-repeat -388px -248px;
    float: left;
}

.skip {
    overflow: hidden;
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: auto;
    height: 1px;
    text-indent: -999px;
    z-index: -999;
}

.location_inner2 .depth1 {
    width: 30%;
    padding-left: 68px;
    box-sizing: border-box;
    float: left;
}

.location_inner2 .step {
    display: inline-block;
    width: 95%;
    padding-left: 5%;
    height: 68px;
    line-height: 68px;
    border-right: 1px solid #525252;
    font-size: 16px;
    color: #e1e1e1;
    background: url(https://www.gocamping.or.kr/img/2018/layout/arr3.png) right 20px center no-repeat;
    cursor: pointer;
}

.location_inner2 .mngroup {
    position: relative;
}

.location_inner2 .mngroup > ul {
    position: absolute;
    z-index: 10;
    left: 0;
    display: inline-block;
    width: 100%;
    top: 68px;
}


.location_inner2 .depth1 .menuUl .menuLi {
    box-sizing: border-box;
    margin-left: 68px;
    width: auto;
    position: relative;
    height: 55px;
    border-bottom: 1px solid #cdd5de;
    z-index: 2;
    background-color: white;
    cursor: pointer;
}

.location_inner2 .menuUl .menuLi > a {
    display: block;
    color: #000;
    position: relative;
    padding-left: 20px;
    line-height: 60px;
    font-size: 16px;
}

.location_inner2 .depth1 .menuUl .menuLi {
    box-sizing: border-box;
    margin-left: 68px;
    width: auto;
    position: relative;
    height: 55px;
    border-bottom: 1px solid #cdd5de;
    z-index: 2;
    background-color: white;
    cursor: pointer;
}

.location_inner2 .depth1 .menuUl .menuLi {
    box-sizing: border-box;
    margin-left: 68px;
    width: auto;
    position: relative;
    height: 55px;
    border-bottom: 1px solid #cdd5de;
    z-index: 2;
    background-color: white;
    cursor: pointer;
}

.location_inner2 .depth2 {
    width: 30%;
    box-sizing: border-box;
    float: left;
}


.location_inner2 .menuUl .menuLi {
    width: 100%;
    position: relative;
    height: 55px;
    border-bottom: 1px solid #cdd5de;
    z-index: 2;
    background-color: white;
    cursor: pointer;
}


.layout, .layout2 {
    display: block;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.top_search_box .form_w ul li.fw_2li {
    padding-right: 0;
    margin-right: 0 !important;
}

.top_search_box .input_search .m_search_in {
    background: #fff;
    height: 34px;
    line-height: 34px;
    padding: 0 20px;
    font-size: 14px;
    color: #a9a9a9;
    width: 460px;
    border: 1px solid #dcdcdc;
}

.top_search_box .input_search {
    height: 34px;
    line-height: 34px;
    padding: 0;
    margin-top: 8px;
    width: 500px;
}

.button_w {
    margin-top: 10px;
    float: left;
    width: 264px;
}

.button_w button.de_btn01 {
    border: 1px solid #000;
    height: 34px;
    text-align: left;
    padding: 0 16px;
    width: 102px;
    background: #fff url(https://www.gocamping.or.kr/img/2018/sub/ico_more02.png) no-repeat right 12px center;
    margin-right: 10px;
}

.button_w button.de_btn02 {
    height: 34px;
    text-align: left;
    padding: 0 16px;
    width: 150px;
    background: #000 url(https://www.gocamping.or.kr/img/2018/sub/ico_more03.png) no-repeat right 12px center;
    color: #fff;
}

.button_w button.de_btn03 {
    display: none;
}

.button_w button {
    display: inline-block;
    height: 38px;
    float: left;
}

.top_search_box .form_w ul li.fw_2li .button_w {
    width: auto !important;
}

/* //검색박스 */

/* 지도쪽 */

.gray_bar {
    width: 100%;
    height: auto;
    padding: 9px 0;
    background: #eff0f4;
    position: relative;
}

#section1 {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.em_org {
    color: #eb831d !important;
}

#cont_inner .title_w {
	margin-top:20px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 30px;
    padding-top: 20px;
}

#cont_inner .title_w h2.title2 {
    display: inline-block;
    font-size: 22px;
    font-weight: normal;
    color: #000;
    padding: 0;
    float: left;
}

#cont_inner .title_w h2.title2 {
    display: inline-block;
    font-size: 22px;
    font-weight: normal;
    color: #000;
    padding: 0;
    float: left;
}

#cont_inner .title_w ul.share {
    position: absolute;
    top: 15px;
    right: 0;
}

#cont_inner .title_w ul.share > li {
    float: left;
    width: 41px;
    height: 41px;
}

#cont_inner .title_w ul.share li.sns > button {
    float: left;
    width: 41px;
    height: 41px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/share_ico.png) no-repeat 0 0;
}

#cont_inner .title_w ul.share .share_sns_list {
    position: absolute;
    left: -1px;
    top: 0;
    display: block;
    width: 43px;
    height: 199px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/share_snsBg_ico.png) no-repeat center top;
    text-align: center;
    z-index: 10;
}

.share_sns_list .ssns_list01 {
    width: 32px;
    height: 32px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/share_ico.png) no-repeat 0 0;
}

.share_sns_list .ssns_list02 {
    width: 32px;
    height: 32px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/share_ico.png) no-repeat 0 -32px;
}

.share_sns_list .ssns_list03 {
    width: 32px;
    height: 32px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/share_ico.png) no-repeat 0 -64px;
}

.share_sns_list .ssns_list04 {
    width: 32px;
    height: 32px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/share_ico.png) no-repeat 0 -96px;
}

.share_sns_list .ssns_list05 {
    width: 32px;
    height: 32px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/share_ico.png) no-repeat 0 -128px;
}

#cont_inner .title_w ul.share li.bookmark > a {
    float: left;
    width: 41px;
    height: 41px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/share_ico.png) no-repeat -41px 0;
}

#cont_inner .title_w ul.share li.link > a {
    float: left;
    width: 41px;
    height: 41px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/share_ico.png) no-repeat -82px 0;
}

#cont_inner .title_w ul.share li.print > a {
    float: left;
    width: 41px;
    height: 41px;
    background: url(https://www.gocamping.or.kr/img/2018/sub/share_ico.png) no-repeat -123px 0;
}

.share_sns_list ul li {
    padding: 6px 0 0 0;
}


/* 리스트 업데이트순 등등 */
.search_list_gr {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px 20px 15px 0;
    box-sizing: border-box;
    min-height: 31px;
    background: #f4f4f4;
    border-top: 1px solid #dbdbdb;
    border-bottom: 2px solid #000000;
    overflow: hidden;
}

div.select_box {
    position: relative;
    width: 160px;
    height: 31px;
    line-height: 31px;
    background: url(https://www.gocamping.or.kr/img/2018/layout/arr2.png) no-repeat right 10px center;
    border: 0;
    margin: 10px 0;
}

div.select_box label {
    display: none;
    position: absolute;
    font-size: 14px;
    color: #444444;
    top: 0px;
    left: 12px;
    letter-spacing: 1px;
}

div.select_box select.detail_select {
    width: 100%;
    height: 31px;
    min-height: 31px;
    line-height: 31px;
    padding: 0 10px;
}

.select_map {
    float: right;
    margin: 0;
}

.select_map button {
    padding: 0 10px;
    height: 31px;
    background: #4a4e57;
    text-align: center;
    color: #fff;
}

.array_select {
    margin: 0 10px 0 20px !important;
    float: left !important;
}

/* Map */

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

/* kakao overray  */
