#myCarousel {
    max-width: 400px;
    height: auto;
    max-height: 600px;
}

.background {
    overflow:visible;
    background-color: #dbdbdb;
}

.re_ch_left {
    float:left;
    margin-left: 70px;
    
}
.re_ch_right, .re_ch_right > list-group {
    float:left;
    margin-left:100px;
}

#sel1 {
    float:left;
}