.search .name-space {
	background-color: white;
	min-height: 4em;
	border-radius: 5px;
	padding: 15px 15px;
	margin: 10px 0;
	box-shadow: 1 1 3 3 black;
}

.search .topline-background {
	margin-top: 10px;
	background: url('../../images/search/searchBarBackground.jpg') no-repeat;
	background-size: cover;
	overflow: hidden;
}

.search,
.search #layout-1,
.search #layout-2,
.search #layout-3 {
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 15px;
}

.search #layout-3 {
	padding: 5px;
	background-color: transparent;
}

#campSearchForm2 > div {
	padding-top: 10px;
}

/* 상세검색 CSS */
.tm_ver.f_open {
	background-color: whitesmoke;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 14px;
	color: #626262;
	box-shadow: 1 1 3 3 black;
}

.tm_ver.f_open ul {
	width: 90%;
	height: 95%;
	float: left;
	overflow: hidden;
}

.tm_ver.f_open li {
	margin: 0 5px;
	float: left;
}

.tm_ver.f_open .title {
	text-align: center;
	width: 100px;
	height: 95%;
	float: left;
	overflow: hidden;
}

#campSearchForm3 > div > ul > li.detail_btn_w {
	overflow: hidden;
}

#campSearchForm3 .button {
	border: 0;
	background-color: #212529;
	color: whitesmoke;
	box-shadow: 1 1 3 3 black;
	border-radius: 5px;
}

#campSearchForm3 .button.reset {
	margin-left: 32px;
}
